[submodule "ohmytmux"]
path = Tools/setup/config/.tmux
url = https://github.com/gpakosz/.tmux.git

[submodule "ohmyzsh"]
path = Tools/setup/pkg/ohmyzsh
url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "zsh-autosuggestions"]
path = Tools/setup/pkg/ohmyzsh/custom/plugins/zsh-autosuggestions
url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh-completions"]
path = Tools/setup/pkg/ohmyzsh/custom/plugins/zsh-completions
url = https://github.com/zsh-users/zsh-completions.git

[submodule "zsh-syntax-highlighting"]
path = Tools/setup/pkg/ohmyzsh/custom/plugins/zsh-syntax-highlighting
url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "zsh-you-should-use"]
path = Tools/setup/pkg/ohmyzsh/custom/plugins/zsh-you-should-use
url = https://github.com/MichaelAquilina/zsh-you-should-use.git
