---
layout: base
---

{{ content }}

<h1 id="path"></h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Size</th>
  </tr>

  <!-- ref: <github.com/bryango/resources> start -->
  {%- for res in site.static_files -%}

  <!-- ignore ./ -->
  {%- assign checkStart = res.path | split: page.url -%}
  {%- if checkStart[0] != '' -%}
  {%- continue -%}
  {%- endif -%}
  <!-- ignore ./*/ -->
  {%- assign target = res.path | remove_first: page.url -%}
  {%- if target contains '/' -%}
  {%- continue -%}
  {%- else -%}
  <!-- ignore ./index.md -->
  {%- if target == 'index.md' -%}
  {%- continue -%}
  {%- endif -%}
  {%- endif -%}

  <tr>
    <td><a class="post-link" href="{{ target }}">{{ target | remove_first: folder }}</a></td>
    <td>{{ res.modified_time | date: "%FT%T%z" }}</td>
    <td>{{ res.path | escape | prepend: '.' | file_size | string_of_size }}</td>
  </tr>

  {% endfor %}

  {%- for res in site.static_files -%}

  <!-- ignore ./ -->
  {%- assign checkStart = res.path | split: page.url -%}
  {%- if checkStart[0] != '' -%}
  {%- continue -%}
  {%- endif -%}
  <!-- keep ./*/ -->
  {%- assign target = res.path | remove_first: page.url -%}
  {%- if target contains '/' -%}
  {%- assign folder_new = target | split: '/' | first -%}
  {%- else -%}
  {%- continue -%}
  {%- endif -%}
  <!-- register new subdir -->
  {%- if folder_new != folder -%}
  {%- assign folder = folder_new -%}
  <tr>
    <td><a class="post-link" href="{{ folder | append: '/' }}">{{ folder | append: '/' }}</a></td>
    <td>{{ res.modified_time | date: "%FT%T%z" }}</td>
    <td></td>
  </tr>
  {%- endif -%}
  <!--
  <tr>
    <td><a class="post-link" href="{{ target }}">{{ target | remove_first: folder | remove_first: '/' }}</a></td>
    <td>{{ res.modified_time | date: "%FT%T%z" }}</td>
    <td>{{ res.path | escape | prepend: '.' | file_size | string_of_size }}</td>
  </tr>
 -->
  {% endfor %}
  <!-- ref: <github.com/bryango/resources> end -->

</table>
